.form_middle_page {
    position: absolute;
    left: 20rem;
    width: calc(20vw + 25rem);
}

.form_middle_page_btn{
    margin-top:2rem;
    left: 2rem;
}


@media (min-width: 768px) and (max-width: 1024px) {
    .form_middle_page{
        left: 20rem;
        max-width: 50%;
    }

.form_middle_page_btn{
    margin-top:2rem;
    left: 2rem;
}
}


@media (min-width:480px) and (max-width: 767px) {
    .form_middle_page{
        left: 20rem;
        max-width: 50%;
    }

    .form_middle_page_btn{
        margin-top:2rem;
        left: 2rem;
}
}

@media screen and (max-width: 480px) {
    .form_middle_page{
        left: 10rem;
        max-width: 10%;
    }

    .form_middle_page_btn{
    margin-top:2rem;
    left: 2rem;

}
}