@import url('https://fonts.googleapis.com/css?family=Roboto');
i {
  margin-right: 10px;
}
.navbar-logo {
  padding: 15px;
  color: #fff;
  user-select: none;
}

.navbar-brand{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem !important;
  color: #ffffff !important;
}
.navbar-logo img{
  margin-right: 10px;
  height: 23px;
}


.navbar-mainbg-blue {
  /*background-color: #fdfdfe;*/
  background-color: #4396d0;
  box-shadow: 0 -5px 0 0 #14294A, 0 1px 0 0 #E4E6EE;
  padding: 5px 20px !important;
}
.navbar-mainbg-white {
  background-color: #fdfdfe;
  color: #4f4e4e!important;
  box-shadow: 0 -5px 0 0 #14294A, 0 1px 0 0 #E4E6EE;
  padding: 5px 20px !important;
}
#navbarSupportedContent {
  overflow: hidden;
  position: relative;
}
#navbarSupportedContent ul {
  display: flex;
  justify-content: center;
}
#navbarSupportedContent ul li a i {
  margin-right: 10px;
}
#navbarSupportedContent li {
  list-style-type: none;
  float: left;
}
#navbarSupportedContent ul li a {
  color: #dbd9d9;
  text-decoration: none;
  text-align: center;
  display: block;
  padding: 10px 10px;
  font-size: 1rem;
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  position: relative;
}
#navbarSupportedContent > ul > li.active > a {
  color: #000000;
  font-weight: bold;
  background-color: transparent;
  transition: all 0.7s;
}
#navbarSupportedContent a:not(:only-child):after {
  content: '\f105';
  position: absolute;
  right: 20px;
  top: 10px;
  font-family: 'Font Awesome 5 Free';
  display: inline-block;
  padding-right: 3px;
  vertical-align: middle;
  font-weight: 900;
  transition: 0.5s;
}
#navbarSupportedContent .active > a:not(:only-child):after {
  transform: rotate(90deg);
}

@media (max-width: 991px) {
  #navbarSupportedContent ul li a {
    padding: 12px 30px;
  }
  .hori-selector {
    margin-top: 0px;
    margin-left: 10px;
    border-radius: 0;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
  }
  .hori-selector .left,
  .hori-selector .right {
    right: 10px;
  }
  .hori-selector .left {
    top: -25px;
    left: auto;
  }
  .hori-selector .right {
    bottom: -25px;
  }
  .hori-selector .left:before {
    left: -25px;
    top: -25px;
  }
  .hori-selector .right:before {
    bottom: -25px;
    left: -25px;
  }
}
